<div class="card ">
  <div class="card-content black-text">
<form action="/articles/<%= article._id %>?_method=PATCH" method="post">
<label>Article title</label>
  <input type='text'
         name='article[title]'
         value="<%= article.published.title %>"><br/>
 <label>Article content goes here</label>
 <textarea id='article-content' name='article[content]'><%= article.published.content %></textarea><br/>
  <label>Tags</label><br/>
  <input type="text" name="article[tags]" value="<%= article.published.tags %>"/>
    <label>Last Edited</label>
    <input disabled type='text'
           value="<%= article.published.last_edited || "never" %>"><br/>
    <label>Author</label>
   <input disabled type='text'
          value="<%= article.authorName %>"><br/>
  <button class="btn blue waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
<form action="/articles/<%= article._id %>?_method=DELETE" method="post"><br/>
  <input type="submit" class="btn red" value="Delete this article"></form>
<script src='/scripts/autosize.min.js'></script>
  <script>
     autosize(document.getElementById('article-content'));
  </script>
  </div>
</div>
