<div class="card ">
  <div class="card-content black-text">
<h5>Edit article</h5>
<form action="/articles/<%= article._id %>?_method=PATCH" method="post">
<label>Article title</label>
  <input type='text'
         name='article[title]'
         value="<%= article.published.title %>"><br/>
 <label>Article content goes here</label>
 <textarea id='article-content' name='article[content]'><%= article.published.content %></textarea><br/>
  <label>Tags</label><br/>
  <input type="text" name="article[tags]" value="<%= article.published.tags %>"/>
    <label>Last Edited</label>
    <input disabled type='text'
           value="<%= article.published.last_edited || "never" %>"><br/>
    <label>Author</label>
   <input disabled type='text'
          value="<%= article.authorName %>"><br/>
  <input type='submit' class="btn-large blue">
</form>
<form action="/articles/<%= article._id %>?_method=DELETE" method="post"><br/>
  <input type="submit" class="btn-large red" value="Delete this article"></form>
<script src='/scripts/autosize.min.js'></script>
  <script>
     autosize(document.getElementById('article-content'));
  </script>
  </div>
</div>
  <!-- <input type="checkbox" name="article[tags][]" id="funny" value="funny"/>
  <label for="funny">funny</label>
  <input type="checkbox" name="article[tags][]" id="true" value="true"/>
  <label for="true">true</label>
  <input type="checkbox" name="article[tags][]" id="sarcastic" value="sarcastic"/>
  <label for="sarcastic">sarcastic</label>
  <input type="checkbox" name="article[tags][]" id="sincere" value="sincere"/>
  <label for="sincere">sincere</label><br/> -->
