<% articles.forEach(function (article, i) { %>
    <div class="article card blue">
      <a href="/articles/<%= article._id %>"><div class="card-content white-text">
        <h5><%= article.title %></h5>
        Author: <%= article.authorName %><br/>
        Tags: <%= article.tags.join(', ') %> <br/>
        Last Edited: <%= article.last_edited %> <br/>
      </div></a>
      <div class="card-action">
        <a href="/articles/<%= article._id %>">View</a>
        <a href="/articles/<%= article._id %>/edit">Edit</a>
      </div>
    </div>
  <% }) %>
