<div class="card ">
  <div class="card-content black-text">
    <h5><%= article.title %></h5>
    <hr/>
    <%- content %>
    <hr/>
    Author: <%= article.authorName %><br/>
    Tags: <%= article.tags.join(', ') %> <br/>
    Last Edited: <%= article.last_edited %> <br/>
  </div>
  <div class="card-action">
    <a href="/articles/<%= article._id %>/edit">Edit this article</a>
  </div>
</div>
