<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#master">Article</a></li>
        <li class="tab col s3"><a href="#drafts">Drafts</a></li>
        <li class="tab col s3"><a href="#archives">Archives</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container" id="master">
  <div class="row">
    <div class="col s12">
      <div class="article card hoverable">
        <div class="card-content black-text">
          <h5><%= article.published.title %></h5>
          <hr/>
          <div class="flow-text"><%- content %></div>
          <hr/>
          Author: <%= article.authorName %><br/>
          Tags: <%= article.published.tags.join(', ') %> <br/>
          Last Edited: <%= article.published.last_edited || "never" %> <br/>
        </div>
        <div class="card-action">
          <a href="/articles/<%= article._id %>/edit">Edit this article</a>
        </div>
        <div class="card-action">
          Comments section goes here
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="drafts">
  <div class="row">
    <div class="col s12">
      <ul class="collapsible hoverable popout" data-collapsible="accordion">
        <% for (i = article.drafts.length - 1; i >= 0; i--) { %>
            <li>
              <div class="collapsible-header active"><i class="material-icons">spellcheck</i>Draft # <%= i + 1 %><span class="right">
                <i class="material-icons">thumbs_up_down</i><%= article.drafts[i].upvotes%> up,
                <%= article.drafts[i].downvotes%> down,
                <%= article.drafts[i].comments.length%> comments</span>
              </div>
              <div class="collapsible-body">
                <p>
                  <%= article.drafts[i].title %>
                  <span class="hide"><%= article.drafts[i]._id %></span>
                  <span class="title truncate"> <%= article.drafts[i].content %> </span>
                  Tags: <%= article.drafts[i].tags.join(', ') || "none" %> <br/>
                  Editor: <%= article.drafts[i].editorName || "Anonymous" %><br/>
                  Last Edited: <%= article.drafts[i].last_edited || "never" %> <br/>
                </p>
                <p>
                  <a class="waves-effect waves-light btn green"><i class="material-icons left">thumb_up</i>upvote</a>
                  <a class="waves-effect waves-light btn red"><i class="material-icons left">thumb_down</i>downvote</a>
                  <a class="waves-effect waves-light btn blue"><i class="material-icons left">comment</i>comment</a>
                  <!-- displays the delete button only if the current user is
                  either the original author of the article or the author of this particular edit -->
                  <% if (article.drafts[i].editorId == userId || article.authorId == userId) { %>
                    <a class="waves-effect waves-light btn red"
                       href="/articles/drafts/delete/<%= article._id %>/<%= article.drafts[i]._id %>">
                       <i class="material-icons left">delete</i>delete</a>
                  <% } %>
                </p>
              </div>
            </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<div class="container" id="archives">
  <div class="row">
    <div class="col s12">
      <ul class="collapsible hoverable popout" data-collapsible="accordion">
        <% for (i = article.history.length - 1; i >= 0; i--) { %>
            <li>
              <div class="collapsible-header active"><i class="material-icons">settings_backup_restore</i>Archived Version # <%= i + 1 %> </div>
              <div class="collapsible-body">
                <p>
                  <%= article.history[i].title %>
                  <span class="title truncate"> <%= article.history[i].content %> </span>
                  Tags: <%= article.history[i].tags.join(', ') || "none" %> <br/>
                  Editor: <%= article.history[i].editorName || "Anonymous" %><br/>
                  Last Edited: <%= article.history[i].last_edited || "never" %> <br/>
                </p>
              </div>
            </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
