<%= article.title %> <br/>
<%= article.author %> <br/>
<%= article.tags %> <br/>
<%= article.content %> <br/>
<%= article.last_edited %> <br/>
<hr/>
<a href="/articles/<%= article._id %>/edit" class="waves-effect waves-light btn-large blue" id="sign_up">Edit this article</a>
